Package: me.lightmann.quorra
Name: Quorra
Depends: mobilesubstrate, firmware (>= 13.0)
Architecture: iphoneos-arm
Description: Purpose: to help the User
Maintainer: Lightmann
Author: Lightmann
Contributor: MarentDev
Section: Tweaks
Version: 1.0.1-1
Installed-Size: 204
